<ion-content class="ion-padding" style="overflow-y: hidden; ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="centered-title">New Entry</ion-title>
  </ion-toolbar>
  <br><br>
  <form [formGroup] = "subForm" (ngSubmit) = "submitForm()">
      <ion-item  lines="full">
        <ion-label class="custom-label" style="font-weight: 600; color: rgb(38, 175, 255);">Entry's Title</ion-label>
        <ion-input class="custom-input" style="text-align: right;" name="pname" placeholder="Insert a name" formControlName="pname"></ion-input>
      </ion-item>
      <br><br><br>
      <ion-item  lines="full">
        <ion-label class="custom-label" style="font-weight: 600; color: rgb(38, 175, 255);">Username</ion-label>
        <ion-input class="custom-input" style="text-align: right;" name="pname" placeholder="Insert a name" formControlName="pname"></ion-input>
      </ion-item>
      <ion-item  lines="full">
        <ion-label class="custom-label" style="font-weight: 600; color: rgb(38, 175, 255);">Password</ion-label>
        <ion-input class="custom-input" style="text-align: right;" name="pname" placeholder="Insert a name" formControlName="pname"></ion-input>
      </ion-item>
      <ion-item  lines="full">
        <ion-label class="custom-label" style="font-weight: 600; color: rgb(38, 175, 255);">URL</ion-label>
        <ion-input class="custom-input" style="text-align: right;" name="pname" placeholder="Insert a name" formControlName="pname"></ion-input>
      </ion-item>
      <ion-item  lines="full">
        <ion-label class="custom-label" style="font-weight: 600; color: rgb(38, 175, 255);">Notes</ion-label>
        <ion-input class="custom-input" style="text-align: right;" name="pname" placeholder="Insert a name" formControlName="pname"></ion-input>
      </ion-item>
      <ion-item  (click)="toggleDropdown()" button detail="false" lines="full">
        <ion-label class="custom-label" style="font-weight: 600;margin-right: 70%; color: rgb(38, 175, 255);" >Color</ion-label>
        <div class="color-circle" [ngStyle]="{'background-color': selectedItem}"></div>
      </ion-item>
      <ion-grid *ngIf="showDropdown" >
        <ion-row>
          <ion-col (click)="selectItem('#f53d3d')"><div class="color-circle red"></div></ion-col>
          <ion-col (click)="selectItem('#3880ff')"><div class="color-circle blue"></div></ion-col>
          <ion-col (click)="selectItem('#2dd36f')"><div class="color-circle green"></div></ion-col>
          <ion-col (click)="selectItem('#8b8b8b')"><div class="color-circle gray"></div></ion-col>
          <ion-col (click)="selectItem('#222428')"><div class="color-circle black"></div></ion-col>
          <ion-col (click)="selectItem('#ffc409')"><div class="color-circle yellow"></div></ion-col>
          <ion-col (click)="selectItem('#3dc2ff')"><div class="color-circle blue-light"></div></ion-col>
        </ion-row>
      </ion-grid>
      <br>
    <ion-button fill="clear" color="danger" style="font-weight: 700;" (click) ="cancel()">Cancel</ion-button>
    <ion-button type="submit" expand="block" class="bt-update">Save</ion-button>
  </form>
</ion-content>